.carousel {

  margin-top: 10px;
  box-shadow: 0px 0px red, 0 0 0 olive;

}
.carousel a {
  width: 30px;
}
.carousel a i {
  color:#d60a5f;
  font-size: 25px;
}
.carousel-indicators li {
  background: #d60a5f !important;
}
.carousel-indicators li.active {
  
  margin-top:-1px;
  height: 5px;
}
.info_wine {
    position:absolute;
    top:100px;
    left:350px;
    font-size: 18px;
}
.carousel-item {
  background: #FFFFFF !important;
}
.color_wine, .information_history {
  color:#d60a5f;
}
.information_history { 
  font-size: 50px;
}
.graphics i {

  margin-top: 60px !important;
  margin-bottom: 50px !important;
  margin-right: 50px !important;
}
.tooltip-inner {
  font-size: 14px;
  font-weight: bold;
}
.name_list_graphics {
  font-size: 25px;
  margin-bottom: -20px;
}
.margin_dif {

  margin-top:-15px;

}
.stats-small {
  
  min-height: 120px;
}
.stats-small:hover, .stats-small:hover span{
  background: #D60A5F;
  color:#000;
}
.stats-small:hover i, .stats-small:hover h6 {
  color:#000;
}

.graphics i {
  font-size: 50px;
  color:#d60a5f;
}
.graphics i:hover {
  color: #000;
}